<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hewson.logindemo2">
    <!-- 读写sd卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 获取精确gps位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 网络链接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 更改wifi连状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

<!--    android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.bootstrapApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        填写刚申请的API_KEY-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qYZ68N7etAWQVeanYI8X4HspY6NCDQwC" />

        <!--定义百度地图的服务，用于定位.间隔定位必须开启此服务-->
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>



        <!-- 注册登录界面 -->
        <activity android:name=".activity.login_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页界面 -->
        <activity android:name=".activity.home_activity"></activity>

        <!-- 注册界面 -->
        <activity android:name=".activity.register_activity"></activity>

        <!--fragment-->
        <activity android:name=".activity.fragment.addorder_fragment"></activity>
        <activity android:name=".activity.fragment.home_fragment"></activity>
        <activity android:name=".activity.fragment.message_fragment"></activity>
        <activity android:name=".activity.fragment.myinfo_fragment"></activity>
        <activity android:name=".activity.fragment.star_fragment"></activity>


        <!-- 百度地图activity -->
        <activity android:name=".activity.PoiSugSearchDemo"></activity>


        <provider
            android:authorities="com.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

    </application>

</manifest>